In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.drop(['RowNumber'],axis=1,inplace=True)

In [3]:
dataset.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### Pycaret Analysis

In [4]:
from pycaret.classification import *
exp_name = setup(data = dataset,  target = 'Exited')

#### Best Model

In [5]:
best_model = compare_models()

In [6]:
gbc = create_model('gbc')

In [7]:
tuned_gbc = tune_model(gbc)

#### Hyperparameter

In [8]:
evaluate_model(tuned_gbc)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…